* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --margin-top: 30px;
}

.container {
    border: 1px solid black;
    border-radius: 10px;
    width: 600px;
    margin: 0 auto;
    margin-top: var(--margin-top);
}

.info-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: var(--margin-top);
}

.adress-container {
    color: gray;
}
.adress-container p::before {
    content: "📍";
}

.image-container {
    width: 240px;
    height: 240px;
}

.photo {
    object-fit: cover;
    border: 10px solid rgb(196, 195, 195);
    border-radius: 50%;
    width: inherit;
    height: inherit;
}

.header-container, 
.desc-container, 
.image-container {
    margin-top: 15px;
}

.desc-container {
    width: 350px;
}

button {
    width: 150px;
    height: 50px;
    margin-top: var(--margin-top);
    border: none;
    border-radius: 10px;
    box-shadow: #362963 0px 5px 10px;
    background: #5fa5e7;
    color: white;

}

.footer {
    display: flex;   
    margin-top: var(--margin-top);
    background: #362963;
    color: white;
    height: 100px;
}

.footer-container { 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    gap: 5px;
}

.slash {
    border-left: 1px solid rgba(237, 225, 225, 0.5);
}

.img-footer i {
    font-size: 40px;
    color: rgb(177, 68, 68)
}

.text-footer {
    display: flex;
    flex-direction: column;
}
